@font-face {
  font-family: HelveticaCompressed;
  src: url(./assets/fonts/Helvetica\ Compressed\ Regular.otf);
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  width: 100%;
  color: white;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: Helvetica;
  font-weight: 500;
  color: rgb(245, 245, 245);
  text-decoration: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}
